<div *ngIf="mensagemToast" class="toast" [ngClass]="tipoToast">
  {{ mensagemToast }}
</div>

<main class="container">
  <div class="card-formulario">
    <h3>{{ isEditando ? '📝 Editando Membro' : '🚀 Novo Cadastro' }}</h3>

    <div class="inputs-group">
      <input [(ngModel)]="novoMembro.nome" placeholder="Nome do Jovem">
      <input [(ngModel)]="novoMembro.email" placeholder="E-mail">
      <input [(ngModel)]="novoMembro.celular" placeholder="Telefone">
    </div>

    <button (click)="salvarMembro()" class="btn-salvar">
      {{ isEditando ? 'Confirmar Alteração' : 'Cadastrar no Next' }}
    </button>
    <button *ngIf="isEditando" (click)="finalizarAcao()" class="btn-cancelar">Cancelar</button>
  </div>

  <hr>

  <div class="lista-container">
    <div class="header-lista">
      <h3>Membros da Célula</h3>

      <div class="busca-container">
        <input
          type="text"
          [(ngModel)]="termoBusca"
          (input)="filtrarMembros()"
          placeholder="🔎 Buscar por nome ou e-mail...">
      </div>
    </div>

    <ul class="lista-jovens">
      <li *ngFor="let membro of membrosFiltrados" class="item-jovem">
        <div class="info">
          <strong>{{ membro.nome }}</strong>
          <span>{{ membro.email }} | {{ membro.celular }}</span>
        </div>
        <div class="acoes">
          <button (click)="prepararEdicao(membro)" class="btn-editar">✏️</button>
          <button (click)="excluir(membro.id!)" class="btn-excluir">🗑️</button>
        </div>
      </li>
    </ul>
  </div>
</main>
